<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BST Tool Title</title>
    <link rel="stylesheet" href="../../lib/bootstrap-3.3.1/css/bootstrap.min.css">
</head>

<body>
	<h3 class="page-title">  <font size="10">BST-Tool工具 </font> </h3> <br/>
  
      <div id="firmware" class="bst">
        <button type="button" onclick="start_board()"><font size="5">启动开发板</font>
        </button><br/><br/><br/>
    </div>
  
    <div id="firmware" class="bst">
        <p class="text" style="width: 65%"> <font size="5">插件固件更新工具 </font></p>
        <form action="">
			<font size="5">新固件位置: </font> <input type="text" id="newfm"><br/>
			<font size="5">旧固件位置: </font> <input type="text" id="oldfm"><br/>
            <button type="button" onclick="update_fm()"><font size="5">烧录</font>
            </button><br/><br/><br/>
      </form>
    </div>
  
    <div id="img" class="bst">
        <p class="text" style="width: 65%"><font size="5">一键烧录工具</font></p>
        <form action="">
			<font size="5">镜像位置:</font> <input type="text" name="img_loc"><br/>
            <button type="button" onclick="flash_img()"><font size="5">烧录</font>
            </button><br/><br/><br/>
            <script>
				function flash_img()
				{
					document.getElementById("newfm").value="Hello JavaScript!";
				}
		  	</script>
      </form>
    </div>

    <script src="./view.js"></script>
    <script src="../../lib/jquery/jquery.min.js"></script>
    
</body>

</html>